In [6]:
import numpy as np 
import pandas as pd 
import os 
import glob
import warnings
warnings.filterwarnings('ignore')    ## I don't like pandas setting with copy warnings

In [7]:
cf = pd.read_csv(r'task2\combo2_v3.csv')
cf.dropna(inplace=True)
cf

,Food,mean_co2,median_co2,no,gdd,gdd_2,name
0,['MILK' 'SKIMMED MILK'],1164.950000,1164.9500,2,v57,v57,Milk
1,['CHEESE' 'MOZZARELLA'],9011.561500,9011.5615,2,v13,v13,Cheese
2,['YOGURT'],3618.890000,3618.8900,1,v14,v14,Yoghurt
3,['APPLES' 'BANANAS' 'BLUEBERRIES' 'CHERRIES' '...,925.657750,390.0000,20,v01,v01,Fruits
4,['LEMON JUICE' 'ORANGE JUICE' 'PEAR JUICE'],647.096667,650.0000,3,v16,v16,Fruit_juices
5,['BROCCOLI' 'CABBAGE' 'CARROTS' 'CAULIFLOWER' ...,832.867733,510.0900,15,v02,v02,Non_starchy_vegetables
6,['POTATOES'],151.420000,151.4200,1,v03,v03,Potatoes
7,['BEETROOT' 'FAVA BEANS'],468.000000,468.0000,2,v04,v04,Other_starchy_vegetables
8,['BEANS' 'DRY LEGUMES' 'LEGUMES' 'PEAS' 'SOYBE...,1077.694333,766.8180,6,v05,v05,Beans_and_legumes
9,['ALMONDS' 'CASHEW NUT' 'PEANUT' 'PISTACHIO' '...,2042.730000,1853.3300,5,v06,v06,Nuts
10,['EGGS'],3104.980000,3104.9800,1,v12,v12,Eggs
11,['HAMBURGER' 'SAUSAGE'],13700.000000,13700.0000,2,v09,v09,Total_processed_meats
12,['BEEF MEAT' 'COW MEAT' 'LAMB MEAT' 'MINCEAD M...,15301.901600,17182.5590,5,v10,v10,Unprocessed_red_meats
13,['CODFISH' 'DIAMOND FISH' 'FISH' 'FISH FILLET'...,5050.516538,2850.8300,13,v11,v11,seafoods
14,['BISCUITS' 'BREAD' 'CAKES' 'CORNETTI alla cre...,1958.428091,1969.5000,22,v07,v07,refined_grains
23,['WHOLE WHEAT PASTA' 'FLOUR'],679.250000,679.2500,2,v08,v08,whole_grains

In [8]:
cf['path'] = cf['gdd_2'].apply(lambda x: f'..\\raw_data\\Country-level estimates\\{x}_cnty.csv' )
cf

,Food,mean_co2,median_co2,no,gdd,gdd_2,name,path
0,['MILK' 'SKIMMED MILK'],1164.950000,1164.9500,2,v57,v57,Milk,..\raw_data\Country-level estimates\v57_cnty.csv
1,['CHEESE' 'MOZZARELLA'],9011.561500,9011.5615,2,v13,v13,Cheese,..\raw_data\Country-level estimates\v13_cnty.csv
2,['YOGURT'],3618.890000,3618.8900,1,v14,v14,Yoghurt,..\raw_data\Country-level estimates\v14_cnty.csv
3,['APPLES' 'BANANAS' 'BLUEBERRIES' 'CHERRIES' '...,925.657750,390.0000,20,v01,v01,Fruits,..\raw_data\Country-level estimates\v01_cnty.csv
4,['LEMON JUICE' 'ORANGE JUICE' 'PEAR JUICE'],647.096667,650.0000,3,v16,v16,Fruit_juices,..\raw_data\Country-level estimates\v16_cnty.csv
5,['BROCCOLI' 'CABBAGE' 'CARROTS' 'CAULIFLOWER' ...,832.867733,510.0900,15,v02,v02,Non_starchy_vegetables,..\raw_data\Country-level estimates\v02_cnty.csv
6,['POTATOES'],151.420000,151.4200,1,v03,v03,Potatoes,..\raw_data\Country-level estimates\v03_cnty.csv
7,['BEETROOT' 'FAVA BEANS'],468.000000,468.0000,2,v04,v04,Other_starchy_vegetables,..\raw_data\Country-level estimates\v04_cnty.csv
8,['BEANS' 'DRY LEGUMES' 'LEGUMES' 'PEAS' 'SOYBE...,1077.694333,766.8180,6,v05,v05,Beans_and_legumes,..\raw_data\Country-level estimates\v05_cnty.csv
9,['ALMONDS' 'CASHEW NUT' 'PEANUT' 'PISTACHIO' '...,2042.730000,1853.3300,5,v06,v06,Nuts,..\raw_data\Country-level estimates\v06_cnty.csv
10,['EGGS'],3104.980000,3104.9800,1,v12,v12,Eggs,..\raw_data\Country-level estimates\v12_cnty.csv
11,['HAMBURGER' 'SAUSAGE'],13700.000000,13700.0000,2,v09,v09,Total_processed_meats,..\raw_data\Country-level estimates\v09_cnty.csv
12,['BEEF MEAT' 'COW MEAT' 'LAMB MEAT' 'MINCEAD M...,15301.901600,17182.5590,5,v10,v10,Unprocessed_red_meats,..\raw_data\Country-level estimates\v10_cnty.csv
13,['CODFISH' 'DIAMOND FISH' 'FISH' 'FISH FILLET'...,5050.516538,2850.8300,13,v11,v11,seafoods,..\raw_data\Country-level estimates\v11_cnty.csv
14,['BISCUITS' 'BREAD' 'CAKES' 'CORNETTI alla cre...,1958.428091,1969.5000,22,v07,v07,refined_grains,..\raw_data\Country-level estimates\v07_cnty.csv
23,['WHOLE WHEAT PASTA' 'FLOUR'],679.250000,679.2500,2,v08,v08,whole_grains,..\raw_data\Country-level estimates\v08_cnty.csv

In [ ]:
emro = ['AFG', 'ARE', 'BHR', 'DJI','EGY','IRN','IRQ','JOR',
    'KWT', 'LBN', 'LBR', 'MAR', 'OMN', 'PAK','PSE' , 'QAT','SAU',
    'SDN','SOM', 'SYR', 'YEM','TUN']
drop_list = ['superregion2','age','urban','edu', 'upperci_95',
          'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']

def select(col, val,df):
    df = df[df[col] == val]
    return df

### old emro select 
# def emro_select(df:pd.DataFrame):
    
#     d1 = select('age',999,df)
#     d2 = select('edu',999,d1)
#     d3 = select('urban',999,d2)
# #     d3 = d3.drop(drop_list,axis=1)
#     d4 = d3[d3['iso3'].isin(emro)]          ### comment out if u want to calculate for all countries... also replace d4 with d3 in the next 3 lines 

#     all = select('female',999,d4)
#     males = select('female',0,d4)
#     females = select('female',1,d4)
    
#     return all, males, females


### new emro select for adding entries for yearly means
def emro_select(df: pd.DataFrame):
    
    def add_yearly_means(df):
        # Calculate yearly means (excluding any non-numeric or categorical columns like 'female' and 'iso3')
        grouped = df.groupby('year').mean(numeric_only=True).reset_index()
        grouped['iso3'] = 'EMR'
        return pd.concat([df, grouped], ignore_index=True)
    
    d1 = select('age', 999, df)
    d2 = select('edu', 999, d1)
    d3 = select('urban', 999, d2)
    d4 = d3[d3['iso3'].isin(emro)]  # Change to d3 if using all countries


    all = select('female', 999, d4)
    males = select('female', 0, d4)
    females = select('female', 1, d4)

    all = add_yearly_means(all)
    males = add_yearly_means(males)
    females = add_yearly_means(females)

    return all, males, females

### tests below 
# test_path = cf.iloc[1]['path']
# med = cf.iloc[1]['median_co2']
# data = pd.read_csv(test_path)

# a1, m1, f1 = emro_select(data)
# a1.columns

# a1['emissions'] = a1['median'].apply(lambda x: (x /1000)  * med)
# a1

In [10]:
def calc_co2(med:float, data:pd.DataFrame):
    data['emissions'] = data['median'].apply(lambda x: (x / 1000)  * med)
    return data[['iso3','year','median','emissions']].reset_index()

for _,item in cf.iterrows():
    item_co2 = item['median_co2']
    path = item['path']
    name = item['name']
    print(f'>>> {name} done!')
    data = pd.read_csv(path)
    all, males, females = emro_select(df=data)

    all2 = calc_co2(med=item_co2,data=all)
    males2 = calc_co2(med=item_co2, data=males)
    females2 = calc_co2(med=item_co2, data=females)

    os.makedirs('emissions_v2',exist_ok=True)
    all2.to_csv(f'emissions_v2\{name}_all.csv',index=False)
    males2.to_csv(f'emissions_v2\{name}_males.csv',index=False)
    females2.to_csv(f'emissions_v2\{name}_females.csv',index=False)

>>> Milk done!
>>> Cheese done!
>>> Yoghurt done!
>>> Fruits done!
>>> Fruit_juices done!
>>> Non_starchy_vegetables done!
>>> Potatoes done!
>>> Other_starchy_vegetables done!
>>> Beans_and_legumes done!
>>> Nuts done!
>>> Eggs done!
>>> Total_processed_meats done!
>>> Unprocessed_red_meats done!
>>> seafoods done!
>>> refined_grains done!
>>> whole_grains done!

In [11]:
from collections import defaultdict

def calc_total (path:str, suff):
    all_glob = glob.glob(f'{path}\*_{suff}.csv')

    keep = []
    
    for i in all_glob:
        temp = pd.read_csv(i)
        for j in zip(temp['iso3'], temp['year'], temp['emissions']):
            keep.append(j)
    
    keep_sum = defaultdict(float)
    for iso3, year, emissions in keep:
        keep_sum[(iso3, year)] += emissions

    result = [(key[0], key[1], total_emissions) for key, total_emissions in keep_sum.items()]
    results_df = pd.DataFrame(result,columns=['Country', 'year', 'emissions'])
    return results_df

In [13]:
folder = 'emissions_v2'
for i in ['all', 'males', 'females']:
    temp_df = calc_total(folder, i)
    temp_df.to_csv(f'{folder}\\total_{i}.csv',index=False)

In [16]:
#### double checking manually 

test_df = pd.read_csv(r'..\raw_data\Country-level estimates\v14_cnty.csv')
all1, m1, f1 = emro_select(test_df)

In [22]:
a1 = all1[all1['iso3'] != 'EMR']
a1

,superregion2,iso3,age,female,urban,edu,year,varnum,v14_type,v14_type_desc,median,upperci_95,lowerci_95,serving,s_lowerci_95,s_upperci_95
0,SAARC,AFG,999.0,999.0,999.0,999.0,1990,14.0,1.0,1: Foods & Beverages,11.011948,21.861886,5.403208,0.048846,0.023967,0.096974
1,SAARC,AFG,999.0,999.0,999.0,999.0,1995,14.0,1.0,1: Foods & Beverages,10.745119,21.193319,5.383867,0.047657,0.023878,0.093996
2,SAARC,AFG,999.0,999.0,999.0,999.0,2000,14.0,1.0,1: Foods & Beverages,11.718252,22.905087,6.063232,0.052123,0.026969,0.101882
3,SAARC,AFG,999.0,999.0,999.0,999.0,2005,14.0,1.0,1: Foods & Beverages,11.728044,22.856983,6.100917,0.051945,0.027022,0.101236
4,SAARC,AFG,999.0,999.0,999.0,999.0,2010,14.0,1.0,1: Foods & Beverages,12.543807,24.180870,6.353653,0.055340,0.028030,0.106679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,MENA,YEM,999.0,999.0,999.0,999.0,2000,14.0,1.0,1: Foods & Beverages,14.183693,19.691395,10.116065,0.062450,0.044541,0.086700
143,MENA,YEM,999.0,999.0,999.0,999.0,2005,14.0,1.0,1: Foods & Beverages,15.235337,21.030876,10.923570,0.066693,0.047818,0.092063
144,MENA,YEM,999.0,999.0,999.0,999.0,2010,14.0,1.0,1: Foods & Beverages,15.484948,21.416870,11.110013,0.067537,0.048456,0.093409
145,MENA,YEM,999.0,999.0,999.0,999.0,2015,14.0,1.0,1: Foods & Beverages,16.083463,22.248649,11.517345,0.069943,0.050086,0.096754
146,MENA,YEM,999.0,999.0,999.0,999.0,2018,14.0,1.0,1: Foods & Beverages,16.119045,22.314793,11.525595,0.069907,0.049985,0.096777

In [30]:
a1.groupby('year').mean(numeric_only=True).reset_index()['median']

0    41.007703
1    42.225449
2    44.131728
3    43.979771
4    45.977936
5    44.123617
6    44.277673
Name: median, dtype: float64

In [31]:
all1[all1['iso3']=='EMR']['median']

147    41.007703
148    42.225449
149    44.131728
150    43.979771
151    45.977936
152    44.123617
153    44.277673
Name: median, dtype: float64

### they perfectly match