In [1]:
import numpy as np 
import pandas as pd 
import os 
import glob
import warnings
warnings.filterwarnings('ignore')    ## I don't like pandas setting with copy warnings

In [2]:
cf = pd.read_csv(r'task2\combo2_v3.csv')
cf.dropna(inplace=True)
cf

,Food,mean_co2,median_co2,no,gdd,gdd_2,name
0,['MILK' 'SKIMMED MILK'],1164.950000,1164.9500,2,v57,v57,Milk
1,['CHEESE' 'MOZZARELLA'],9011.561500,9011.5615,2,v13,v13,Cheese
2,['YOGURT'],3618.890000,3618.8900,1,v14,v14,Yoghurt
3,['APPLES' 'BANANAS' 'BLUEBERRIES' 'CHERRIES' '...,925.657750,390.0000,20,v01,v01,Fruits
4,['LEMON JUICE' 'ORANGE JUICE' 'PEAR JUICE'],647.096667,650.0000,3,v16,v16,Fruit_juices
5,['BROCCOLI' 'CABBAGE' 'CARROTS' 'CAULIFLOWER' ...,832.867733,510.0900,15,v02,v02,Non_starchy_vegetables
6,['POTATOES'],151.420000,151.4200,1,v03,v03,Potatoes
7,['BEETROOT' 'FAVA BEANS'],468.000000,468.0000,2,v04,v04,Other_starchy_vegetables
8,['BEANS' 'DRY LEGUMES' 'LEGUMES' 'PEAS' 'SOYBE...,1077.694333,766.8180,6,v05,v05,Beans_and_legumes
9,['ALMONDS' 'CASHEW NUT' 'PEANUT' 'PISTACHIO' '...,2042.730000,1853.3300,5,v06,v06,Nuts
10,['EGGS'],3104.980000,3104.9800,1,v12,v12,Eggs
11,['HAMBURGER' 'SAUSAGE'],13700.000000,13700.0000,2,v09,v09,Total_processed_meats
12,['BEEF MEAT' 'COW MEAT' 'LAMB MEAT' 'MINCEAD M...,15301.901600,17182.5590,5,v10,v10,Unprocessed_red_meats
13,['CODFISH' 'DIAMOND FISH' 'FISH' 'FISH FILLET'...,5050.516538,2850.8300,13,v11,v11,seafoods
14,['BISCUITS' 'BREAD' 'CAKES' 'CORNETTI alla cre...,1958.428091,1969.5000,22,v07,v07,refined_grains
23,['WHOLE WHEAT PASTA' 'FLOUR'],679.250000,679.2500,2,v08,v08,whole_grains

In [3]:
cf['path'] = cf['gdd_2'].apply(lambda x: f'..\\raw_data\\Global estimates\\{x}_global.csv' )
cf

,Food,mean_co2,median_co2,no,gdd,gdd_2,name,path
0,['MILK' 'SKIMMED MILK'],1164.950000,1164.9500,2,v57,v57,Milk,..\raw_data\Global estimates\v57_global.csv
1,['CHEESE' 'MOZZARELLA'],9011.561500,9011.5615,2,v13,v13,Cheese,..\raw_data\Global estimates\v13_global.csv
2,['YOGURT'],3618.890000,3618.8900,1,v14,v14,Yoghurt,..\raw_data\Global estimates\v14_global.csv
3,['APPLES' 'BANANAS' 'BLUEBERRIES' 'CHERRIES' '...,925.657750,390.0000,20,v01,v01,Fruits,..\raw_data\Global estimates\v01_global.csv
4,['LEMON JUICE' 'ORANGE JUICE' 'PEAR JUICE'],647.096667,650.0000,3,v16,v16,Fruit_juices,..\raw_data\Global estimates\v16_global.csv
5,['BROCCOLI' 'CABBAGE' 'CARROTS' 'CAULIFLOWER' ...,832.867733,510.0900,15,v02,v02,Non_starchy_vegetables,..\raw_data\Global estimates\v02_global.csv
6,['POTATOES'],151.420000,151.4200,1,v03,v03,Potatoes,..\raw_data\Global estimates\v03_global.csv
7,['BEETROOT' 'FAVA BEANS'],468.000000,468.0000,2,v04,v04,Other_starchy_vegetables,..\raw_data\Global estimates\v04_global.csv
8,['BEANS' 'DRY LEGUMES' 'LEGUMES' 'PEAS' 'SOYBE...,1077.694333,766.8180,6,v05,v05,Beans_and_legumes,..\raw_data\Global estimates\v05_global.csv
9,['ALMONDS' 'CASHEW NUT' 'PEANUT' 'PISTACHIO' '...,2042.730000,1853.3300,5,v06,v06,Nuts,..\raw_data\Global estimates\v06_global.csv
10,['EGGS'],3104.980000,3104.9800,1,v12,v12,Eggs,..\raw_data\Global estimates\v12_global.csv
11,['HAMBURGER' 'SAUSAGE'],13700.000000,13700.0000,2,v09,v09,Total_processed_meats,..\raw_data\Global estimates\v09_global.csv
12,['BEEF MEAT' 'COW MEAT' 'LAMB MEAT' 'MINCEAD M...,15301.901600,17182.5590,5,v10,v10,Unprocessed_red_meats,..\raw_data\Global estimates\v10_global.csv
13,['CODFISH' 'DIAMOND FISH' 'FISH' 'FISH FILLET'...,5050.516538,2850.8300,13,v11,v11,seafoods,..\raw_data\Global estimates\v11_global.csv
14,['BISCUITS' 'BREAD' 'CAKES' 'CORNETTI alla cre...,1958.428091,1969.5000,22,v07,v07,refined_grains,..\raw_data\Global estimates\v07_global.csv
23,['WHOLE WHEAT PASTA' 'FLOUR'],679.250000,679.2500,2,v08,v08,whole_grains,..\raw_data\Global estimates\v08_global.csv

In [4]:
def select(col, val,df):
        df = df[df[col] == val]
        return df

def emro_select(df:pd.DataFrame):
    
    d1 = select('age',999,df)
    d2 = select('edu',999,d1)
    d3 = select('urban',999,d2)

    all = select('female',999,d3)
    males = select('female',0,d3)
    females = select('female',1,d3)
        
    return all, males, females

In [5]:
def calc_co2(med:float, data:pd.DataFrame):
    data['emissions'] = data['median'].apply(lambda x: (x / 1000)  * med)
    return data[['year','median','emissions']].reset_index()

for _,item in cf.iterrows():
    item_co2 = item['median_co2']
    path = item['path']
    name = item['name']
    print(f'>>> {name} done!')
    data = pd.read_csv(path)
    all, males, females = emro_select(df=data)

    all2 = calc_co2(med=item_co2,data=all)
    males2 = calc_co2(med=item_co2, data=males)
    females2 = calc_co2(med=item_co2, data=females)

    os.makedirs('global_emissions',exist_ok=True)
    all2.to_csv(f'global_emissions\{name}_all.csv',index=False)
    males2.to_csv(f'global_emissions\{name}_males.csv',index=False)
    females2.to_csv(f'global_emissions\{name}_females.csv',index=False)

>>> Milk done!
>>> Cheese done!
>>> Yoghurt done!
>>> Fruits done!
>>> Fruit_juices done!
>>> Non_starchy_vegetables done!
>>> Potatoes done!
>>> Other_starchy_vegetables done!
>>> Beans_and_legumes done!
>>> Nuts done!
>>> Eggs done!
>>> Total_processed_meats done!
>>> Unprocessed_red_meats done!
>>> seafoods done!
>>> refined_grains done!
>>> whole_grains done!

In [6]:
from collections import defaultdict

def calc_total (path:str, suff):
    all_glob = glob.glob(f'{path}\*_{suff}.csv')

    keep = []
    
    for i in all_glob:
        temp = pd.read_csv(i)
        for j in zip(temp['year'], temp['emissions']):
            keep.append(j)
    
    keep_sum = defaultdict(float)
    for year, emissions in keep:
        keep_sum[(year)] += emissions

    result = [(key, total_emissions) for key, total_emissions in keep_sum.items()]
    results_df = pd.DataFrame(result,columns=['year', 'emissions'])
    return results_df

In [7]:
folder = 'global_emissions'
for i in ['all', 'males', 'females']:
    temp_df = calc_total(folder, i)
    temp_df.to_csv(f'{folder}\\total_{i}.csv',index=False)